
:host{
    width: 70%;
}
.app-results {
     
    .title {
        margin-bottom: .5rem;
    }

    .button {
        color: white;
        background-color: #0c76f2;
        padding: 7px 10px;
        border-radius: 5px;
        border: 1px solid #0c76f2;
        margin-bottom: 1rem;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        td, th {
            padding: 10px 27px;
            text-align: left;
         }
         .heading_row {
             background-color: lightgrey;

             th {
                font-size: 15px;
            }
         }
    }
}