<div class="app-add-record">
    <h2>Add record</h2>
    <div class="formControl">
        <label class="label">Jogging date:</label>
        <input #date placeholder="mm/dd/yyyy" type="text" [(ngModel)]="date" />
    </div>
    <div class="formControl">
        <label class="label">Distance (m)</label>
        <input #distance  placeholder="0" [(ngModel)]="distance"/>
    </div>
    <div class="formControl">
        <label class="label">Time (s):</label>
        <input #time placeholder="0" [(ngModel)]="time"/>
    </div>
     <button >Save</button>
     <div>
       {{date}}
       {{distance}}
       {{time}}
     </div>
</div>
